<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>{% block title %}NetPlay Index{% end %}</title>

  <!-- jQuery -->
  <script src="/static/jquery-3.3.1.min.js"></script>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="/static/bootstrap-4.3.1/css/bootstrap.min.css">
  <script src="/static/bootstrap-4.3.1/js/bootstrap.min.js"></script>

  <!-- My Stylesheet -->
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/admin/overview">NetPlay Index</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/admin/server_list">Servers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/blacklist">Blacklist</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/bans">Banlist</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/user_management">Users</a>
        </li>
      </ul>
      {% if globals().get('username', None) %}
      <form method="POST" class="form-inline  my-2 my-lg-0" action="/logout">
        {% module xsrf_form_html() %}
        <span class="navbar-text">Logged in as {{ username }}</span>
        <input type="submit" style="margin-left: 10px" class="btn btn-primary my-2 my-sm-0" value="Logout"></input>
      </form>
      {% end %}
    </div>
  </nav>

  {% if globals().get('error', None) %}
  <div class="alert alert-danger">
    {{ error }}
  </div>
  {% end %}
  <div class="card" id="content">
    <div class="card-body">
      <h2 class="card-title">
        {% block title %}{% end %}
      </h2>
      {% block content %}{% end %}
      <p id="footer">
        <a href="https://github.com/spycrab/netplay-index">netplay-index</a> © 2019, <a target="_blank" href="https://github.com/spycrab">spycrab</a>
      </p>
    </div>
  </div>
</body>
</html>
