{% extends "../base.html" %}
{% block title %}Server List{% end %}
{% block content %}
<table class="table table-striped">
  <thead class="thead-light">
    <tr>
      <th>Region</th>
      <th>Name</th>
      <th>Game</th>
      <th>Host</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for session in sessions %}
    <tr>
      <td>
        {{ escape(sessions[session]['region']) }}
      </td>
      <td>
        {{ escape(sessions[session]['name']) }}
      </td>
      <td>
        {{ escape(sessions[session]['game']) }}
      </td>
      <td>
        {{ escape(hosts[session]) }}
      </td>
      <td>
        <a href="/v0/session/remove?secret={{ escape(session) }}" target="_blank">Remove</a>
        </td>
    </tr>
    {% end %}
  </tbody>
</table>
{% end %}
