{% extends "../base.html" %}
{% block title %}User Management{% end %}
{% block content %}
{% if sysop %}
<h3>List of Users</h3>
<table class="table table-striped">
  <thead class="thead-light">
    <tr>
      <th>Username</th>
      <th>Sysop?</th>
      <th>Can Ban?</th>
      <th>Can Modify Blacklist?</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
    <tr>
      <td>{{ user[0] }}</td>
      <td>{% if user[1] %}Yes{% else %}No{% end %}</td>
      <td>{% if user[2] %}Yes{% else %}No{% end %}</td>
      <td>{% if user[3] %}Yes{% else %}No{% end %}</td>
      <td>
        {% if sysop %}
        <form method="POST">
          {% module xsrf_form_html() %}
          <input hidden type="text" name="action" value="delete_user"></input>
          <input hidden type="text" name="username" value="{{ user[0] }}"></input>
          <input type="submit" class="btn btn-danger" value="Remove"></input>
        </form>
        {% end %}
      </td>
    </tr>
    {% end %}
</td>
</tbody>
</table>
{% end %}
<div style="height: 75px"></div>
<div class="container-fluid content-row">
  <div class="row justify-content-center">
    <div class="col-4 d-flex">
      <div class="card">
        <div class="card-header">
          Change Password
        </div>
        <div class="card-body">
          <form method="POST">
            {% module xsrf_form_html() %}
            <input hidden type="text" class="form-control" name="action" value="change_password"></input>
            {% if sysop %}
            <div class="form-group row">
              <label for="username" class="col-form-label col-sm-4">Username</label>
              <input type="text" class="form-control col-sm-6" name="username" value="{{ username }}"></input>
            </div>
            {% else %}
            <input type="text" hidden name="username" value="{{ username }}"></input>
            {% end %}
            <div class="form-group row">
              <label for="password" class="col-form-label col-sm-4">New Password</label>
              <input type="password" class="form-control col-sm-6" name="password"></input>
            </div>
            <input type="submit" class="btn btn-warning" value="Change Password">
          </form>
        </div>
      </div>
    </div>
    {% if sysop %}
    <div class="col-4 d-flex">
      <div class="card">
        <div class="card-header">
          Create User
        </div>
        <div class="card-body">
          <form method="POST">
            {% module xsrf_form_html() %}
            <input hidden type="text" class="form-control" name="action" value="create_user"></input>
            <div class="form-group row">
              <label class="form-label-for col-sm-4">Username</label>
              <input type="text" class="form-control col-sm-6" name="username"></input>
            </div>
            <div class="form-group row">
              <label class="form-label-for col-sm-4" for="password">Password</label>
              <input type="text" class="form-control col-sm-6" name="password"></input>
            </div>
            <div class="form-group">
              <div class="form-check">
                <input type="checkbox" class="form-check-input" name="sysop"></input>
                <label class="form-check-label" for="can_ban">Sysop</label>
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" name="can_ban"></input>
                <label class="form-check-label" for="can_ban">Allowed to ban</label>
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" name="can_modify_blacklist"></input>
                <label class="form-check-label" for="can_modify_blacklist">Allowed to modify blacklist</label>
              </div>
            </div>
            <input type="submit" class="btn btn-secondary" value="Create"></input>
        </div>
      </div>
      </form>
    </div>
  </div>
  {% end %}
</div>
{% end %}
