{% extends "../base.html" %}
{% block title %}Admin Panel{% end %}
{% block content %}
  <h3>Welcome, {{ username }}!</h3>

  <p>
    There {% if session_count == 1 %}is{% else %}are{% end %} currently <code>{{ session_count }}</code> active session{% if session_count != 1 %}s{% end %} with <code>{{ total_player_count }}</code> active player{% if total_player_count != 1 %}s{% end %}.

    This index has been up since <code>{{ start_time }}</code> and has hosted <code>{{ total_session_count }}</code> session{% if total_session_count != 1 %}s{% end %} since.
  </p>

  Actions:
  <ul>
    <li>
      <a href="/admin/server_list">Server List</a> - Look at and remove individual sessions
    </li>
    <li>
      <a href="/admin/bans">Banned Hosts</a> - Review and remove banned hosts
    </li>
    <li>
      <a href="/admin/blacklist">Blacklist</a> - Blacklist certain words from being used
    </li>
    <li>
      <a href="/admin/user_management">User Management</a> - Change passwords, add and remove users
    </li>
  </ul>
{% end %}
