body
{
    background: #efefef;
}

#content
{
    width: 85%;

    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    
    background-color: white;
}

#footer
{
    width: 85%;
    margin: 0 auto;
    margin-top: 25px;
    text-align: center;
}
